<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="clearfix"></div>
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a href="/"> <i class="fa fa-home"></i> Inicio</a></li>
             <li><a href="venda"> <i class="fa fa-shopping-cart"></i> Vendas</a></li>
             <li><a href="estoque"> <i class="fa fa-apple"></i> Estoque</a></li>
             <li><a><i class="fa fa-edit"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="balancas">Balança</a></li>
                  <li><a href="caixas">Caixa</a></li>
                  <li><a href="funcionarios">Funcionario</a></li>
                  <li><a href="produtos">Produto</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="listaEstoque">Estoque</a></li>
                  <li><a href="listaVendas">Vendas</a></li>
                </ul>
              </li>
        </ul>
    </div>
</div>