<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Supermercado</title>

<!-- bootstrap.min.css -->
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Custom Theme Style -->
<link href="../static/css/custom.min.css" th:href="@{/css/custom.min.css}" rel="stylesheet" />

</head>

<body class="login">
	<div>
		<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
			id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<form name="log" th:action="@{/login}" method="post"
						class="form-signin">
						<h1>Acesso ao sistema</h1>
						
						<div th:if="${param.error}" class="alert-error">
	                        Usuário ou senha inválido.
	                    </div>
	                    <div th:if="${param.logout}" class="alert alert-success">
	                        Você está desconectado
	                    </div>
	                    
	                    <div class="clearfix"></div>

						<div>
							<input type="text" class="form-control" autofocus="true"
                           placeholder="Informe seu usuário" required="true" id="username" name="username"/>
						</div>
						<div>
						<input type="password" class="form-control"
                           placeholder="informe sua senha" required="true" id="password" name="password"/>
						</div>
						<div>
							<button type="submit" class="btn btn-default submit">Entrar</button>
							<a class="reset_pass" href="#">Esqueceu a senha?</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<p class="change_link">
								Não tem conta? <a href="#signup" class="to_register"> Criar uma conta </a>
							</p>

							<div class="clearfix"></div>
							<br />

							<div>
								<h1>
									<i class="fa fa-paw"></i> Supermercado
								</h1>
							</div>
						</div>
					</form>
			</div>
		</div>
	</div>
</body>
</html>
