<!DOCTYPE html>
<html lang="pt-BR" data-layout-decorate="~{fragments/layout}">
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Produto</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    
                    	<!-- Conteudo -->
                        <form th:action="@{/salvarProduto}" th:object="${produto}" method="POST">
                        
                        <div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Código do produto</label>
							<input th:field="*{codigo}" type="text" class="form-control"	id="codigo" name="codigo" placeholder="Informe o código produto" />
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Descrição do produto</label>
							<input th:field="*{descricao}" type="text" class="form-control"	id="descricao" name="descricao" placeholder="Descreve o produto" />
						</div>
			
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="unidadeMedida">Unidade de medida</label>
							<select th:field="*{unidadeMedida}" class="form-control">
								<option th:value="${null}" label="Selecione a Unidade de Medida" disabled="disabled"></option>
								<option th:each="unidade : ${T(br.com.supermercado.model.EnumUnidadeMedida).values()}" th:value="${unidade}" th:text="${unidade.descricao}"></option>
							</select>
						</div>
			
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="preco">Preço</label>
							<input th:field="*{preco}" type="text" class="form-control" id="preco" name="preco" placeholder="preco" />
						</div>
			
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span> Salvar
						</button>
					</form>
			
					<div class="clearfix"></div>
			
					<div class="x_panel">
						<div class="x_title">
							<h2>
								Produtos <small>Listagem de produtos cadastrados</small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
										class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Settings 1</a></li>
										<li><a href="#">Settings 2</a></li>
									</ul></li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="row">Descrição do produto</th>
										<th scope="row">Unidade de Medida</th>
										<th scope="row">Preço</th>
									</tr>
								</thead>
								<tr th:each="produto : ${produtos}">
									<td><span th:text="${produto.descricao}"></span></td>
									<td><span th:text="${produto.unidadeMedida}"></span></td>
									<td><span th:text="${produto.preco}"></span></td>
								</tr>
							</table>
						</div>
					</div>

						<!-- Fim do conteudo -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
